* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primarycolor: #171100;
    --colorDesc: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.f_2nd {
    flex-direction: row-reverse;
}

.line__clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.btn:hover {
    opacity: 0.9;
}

li.action {
    position: relative;
    color: var(--primarycolor);
}

li.nav__item:hover,
li.action {
    cursor: pointer;
    text-shadow: 1px 0 0 currentColor;
    color: var(--primarycolor);
}

li.action::after {
    position: absolute;
    bottom: 12px;
    left: 21px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    background: var(--primarycolor);
    border-radius: 1px;
}

.header {
    position: sticky;
    top: -28px;
    left: 0;
    z-index: 999;
    background: #fffcf4;
}

.header__logo {
    display: inline-block;
    max-width: 85px;
}

.header__logo div {
    font-size: 2.4rem;
    font-family: "Sen", sans-serif;
    color: var(--primarycolor);
    font-weight: 700;
    line-height: 1.42;
}

.header__logo span {
    font-size: 2.4rem;
    font-family: "Sen", sans-serif;
    color: #ffb900;
    font-weight: 700;
    line-height: 1.42;
}

.header__nav,
.header__nav-menu {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__nav {
    padding: 36px 0 8px;
}

.header__nav-menu {
    margin-left: auto;
    margin-right: 49px;
    font-size: 1.6rem;
}

.nav__item {
    padding: 11px 21px;
    color: var(--colorDesc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.header__sign-up {
    min-width: 144px;
    padding: 11px 15px;
    background: var(--primarycolor);
    border-radius: 24.5px;
}

.header__sign-up a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/* hero */

.hero {
    background: #fffcf4;
    padding: 64px 0 65px;
}

.hero__wrapper {
    display: flex;
    align-items: center;
}

.hero__img {
    position: relative;
    width: 48%;
}

.hero__img > img {
    max-width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.hero__card {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: calc(100% - 570px);
    min-width: 270px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero__course {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

[class^="course__icon"] {
    display: flex;
    width: 48px;
    height: 48px;
}

[class$="light-orange"] {
    border-radius: 50%;
    background: #fff9e8;
}

[class$="light-purple"] {
    border-radius: 50%;
    background: #fcefff;
}

[class$="light-blue"] {
    border-radius: 50%;
    background: #ebeaff;
}

[class^="course__icon"] img {
    margin: auto;
}

.hero__course .course__lable {
    color: var(--colorDesc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.hero__course .course__title {
    color: var(--primarycolor);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__content {
    flex: 1;
    padding-left: 130px;
}

.hero__heading {
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.hero__stats,
.hero__desc {
    color: var(--colorDesc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__desc {
    margin-top: 22px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.action__detail-course {
    min-width: 180px;
    padding: 0 32px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    background: #ffb900;
    border-radius: 32px;
    line-height: 64px;
    color: #fff;
}

.btn__watch {
    display: flex;
    align-items: center;
    column-gap: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: var(--primarycolor);
}

.watch__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.hero__stats {
    margin-top: 38px;
}

.hero__stats strong {
    padding-left: 8px;
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/* course */

.courses {
    margin-top: 45px;
    padding: 65px 0px;
}

.courses .courses__popular {
    align-items: center;
}

.courses .courses__title {
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.courses .courses__desc {
    max-width: 458px;
    margin-top: 16px;
    color: var(--colorDesc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.cousres__control {
    display: inline-flex;
    gap: 18px;
}

.btn__control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid #ffb900;
    border-radius: 50%;
    background: transparent;
    color: #ffb900;
    transition: 0.5s;
}

.btn__control:hover {
    background: #ffb900;
}

.btn__control:hover {
    color: #fff;
}

.btn__control img {
    object-fit: cover;
}

.courses .courses__group {
    margin-top: 55px;
    gap: 30px;
}

.course__item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.course__item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course__thumb {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;
    max-height: 278px;
    object-fit: cover;
    cursor: pointer;
}

.course__info {
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.course__head {
    align-items: center;
}

.course__sub-title {
    color: var(--primarycolor);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course__rating {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.course__star {
    width: 18px;
    height: 18px;
    object-fit: cover;
}

.course__value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.course__content {
    margin-top: 6px;
    color: var(--colorDesc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.course__foot {
    margin-top: 12px;
    align-items: center;
}

.course__price {
    color: var(-primarycolor);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.course__buy,
.blog__link,
.btn__sign-up {
    min-width: 118px;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
    background: var(--primarycolor);
    color: #fff;
    transition: 0.5s;
}

:is(.course__buy, .blog__link):hover {
    cursor: pointer;
    background: #ffb900;
}

.feedback {
    margin-top: 95px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback__user {
    width: calc(100% / 3);
}

.feedback .user__avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.feedback .user__avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .user__name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .user__work {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.dots-silde {
    display: flex;
    column-gap: 6px;
}

.dots-silde li {
    margin-top: 28px;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}

.dots-silde li:nth-child(2) {
    background: #ffb900;
}

.feedback__group {
    margin-top: 30px;
    position: relative;
    flex: 1;
}

.feedback_quotation {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, -100%);
}

.feedback__group blockquote {
    color: #fff;
    font-style: italic;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1.54;
}

.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .container {
    gap: 130px;
}

.features__img {
    display: flex;
    gap: 30px;
}

.features__img img {
    width: 270px;
    object-fit: cover;
    border-radius: 16px;
}

.features__img img:first-child {
    margin-top: 34px;
}

.features__img img:last-child {
    margin-bottom: 34px;
}

.features__img-2 {
    display: flex;
}

.features__img-2 img {
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.features__content {
    padding-top: 58px;
    padding-bottom: 58px;
}

.features__title {
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.features__desc {
    margin-top: 16px;
    color: var(--colorDesc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.btn__sign-up {
    display: inline-block;
    margin-top: 32px;
    min-width: 137px;
    font-size: 1.6rem;
    line-height: 1.75;
    background: #ffb900;
    text-align: center;
}

.blog {
    margin-top: 60px;
    padding: 90px 0px;
    background: #fffcf4;
}

.blog__heading {
    color: #130606;
    text-align: center;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.blog__desc {
    margin: 16px auto 0;
    max-width: 448px;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.blog__group {
    display: flex;
    column-gap: 30px;
    margin-top: 50px;
}

.blog__item {
    flex: 1;
    border-radius: 16px;
}

.blog__item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog__thumb {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.blog__info {
    padding: 20px 20px 28px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background: #fff;
}

.blog__date {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: 10px;
    padding-bottom: 12px;
    color: var(--colorDesc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.blog__date::before {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: -10px;
    content: "";
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 50%;
}

.blog__date::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: -10px;
    content: "";
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog__title {
    margin-top: 12px;
    color: var(--primarycolor);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.blog__link {
    display: inline-block;
    margin-top: 12px;
}

.blog .dots-silde {
    margin-top: 38px;
    justify-content: center;
}

.footer {
    padding: 96px 0 0;
    background: #2e2100;
}

.footer__content {
    display: flex;
}

.footer__column {
    width: 21.6%;
}

.footer__column:first-child {
    width: 35%;
}

.footer__column:first-child .footer__desc {
    max-width: 267px;
}

.footer__desc,
.footer__policies a {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer__policies a {
    display: inline-block;
}

.footer__desc {
    margin-top: 18px;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-top: 18px;
    column-gap: 17px;
}

.footer__socials img {
    height: 15px;
    object-fit: cover;
}

.footer__title {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer__title::after {
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 130px;
    height: 1px;
    content: "";
    background: #59554b;
}

.footer__policies {
    margin-top: 28px;
}

.footer__policies strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.86;
}

.footer__copy-right {
    position: relative;
    margin-top: 38px;
    padding: 28px 0;
    text-align: center;
    color: #807d74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.footer__copy-right::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #59554b;
}

/*
    
*/
