* {
    box-sizing: border-box;
}

:root {
    --primarycolor: #171100;
    --colorDesc: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

li.action {
    position: relative;
    color: var(--primarycolor);
}

li.nav__item:hover,
li.action {
    cursor: pointer;
    text-shadow: 1px 0 0 currentColor;
    color: var(--primarycolor);
}

li.action::after {
    position: absolute;
    bottom: 12px;
    left: 21px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    background: var(--primarycolor);
    border-radius: 1px;
}

.header {
    position: sticky;
    top: -28px;
    left: 0;
    z-index: 999;
    background: #fffcf4;
}

.header__logo {
    display: inline-block;
    max-width: 85px;
}

.header__logo div {
    font-size: 2.4rem;
    font-family: "Sen", sans-serif;
    color: var(--primarycolor);
    font-weight: 700;
    line-height: 1.42;
}

.header__logo span {
    font-size: 2.4rem;
    font-family: "Sen", sans-serif;
    color: #ffb900;
    font-weight: 700;
    line-height: 1.42;
}

.header__nav,
.header__nav-menu {
    display: flex;
    align-items: center;
    text-align: center;
}

.header__nav {
    padding: 36px 0 8px;
}

.header__nav-menu {
    margin-left: auto;
    margin-right: 49px;
    font-size: 1.6rem;
}

.nav__item {
    padding: 11px 21px;
    color: var(--colorDesc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.header__sign-up {
    min-width: 144px;
    padding: 11px 15px;
    background: var(--primarycolor);
    border-radius: 24.5px;
}

.header__sign-up a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/* hero */

.section__hero {
    background: #fffcf4;
    padding: 64px 0 65px;
}

.hero__wrapper {
    display: flex;
    align-items: center;
}

.hero__img {
    position: relative;
    width: 48%;
}

.hero__img > img {
    max-width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.hero__card {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 24px;
    position: absolute;
    bottom: 48px;
    right: calc(100% - 570px);
    min-width: 270px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero__course {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

[class^="course__icon"] {
    display: flex;
    width: 48px;
    height: 48px;
}

[class$="light-orange"] {
    border-radius: 50%;
    background: #fff9e8;
}

[class$="light-purple"] {
    border-radius: 50%;
    background: #fcefff;
}

[class$="light-blue"] {
    border-radius: 50%;
    background: #ebeaff;
}

[class^="course__icon"] img {
    margin: auto;
}

.course__lable {
    color: var(--colorDesc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.course__title {
    color: var(--primarycolor);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__content {
    flex: 1;
    padding-left: 130px;
}

.hero__heading {
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}
.hero__stats,
.hero__desc {
    color: var(--colorDesc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__desc {
    margin-top: 22px;
}

.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.action__detail-course {
    min-width: 180px;
    padding: 0 32px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    background: #ffb900;
    border-radius: 32px;
    line-height: 64px;
    color: #fff;
}

.btn__watch {
    display: flex;
    align-items: center;
    column-gap: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    border: none;
    outline: none;
    background: transparent;
    color: var(--primarycolor);
}

.watch__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 28px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.hero__stats {
    margin-top: 38px;
}

.hero__stats strong {
    padding-left: 8px;
    color: var(--primarycolor);
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

/*
    
*/
